.urlbar-background,.searchmode-switcher{
      backdrop-filter: blur(20px) !important;
    border-radius: 67px   !important;
}
body{
  transition: 0.2s;
}
:root{
  &[lwtheme]{
  --lwt-accent-color: rgb(13, 13, 13) !important;
  --lwt-text-color: rgba(255, 255, 255) !important;
  --arrowpanel-background: rgb(36, 36, 36) !important;
  --arrowpanel-color: rgb(255, 255, 255) !important;
  --arrowpanel-border-color: rgb(47, 47, 47) !important;
  --toolbar-field-background-color: rgb(53, 53, 53) !important;
  --toolbar-bgcolor: rgb(23, 23, 23) !important;
  --toolbar-color: rgb(185, 185, 185) !important;
  --toolbar-field-color: rgb(255, 255, 255) !important;
  --toolbar-field-border-color: rgba(0, 0, 0, 0) !important;
  --toolbar-field-focus-background-color: rgba(53, 53, 53, 1) !important;
  --toolbar-field-focus-color: rgb(255, 255, 255) !important;
  --lwt-toolbar-field-highlight: rgba(147, 147, 147, 0.3400000035762787) !important;
  --toolbarbutton-icon-fill: rgb(255, 255, 255) !important;
  --newtab-text-primary-color: rgb(255, 255, 255) !important;
  --lwt-background-alignment: top !important;
  --lwt-background-tiling: repeat !important;
  --tab-loading-fill: rgb(37, 37, 37) !important;
  --tab-selected-bgcolor: rgb(49, 49, 49) !important;
  --tab-selected-textcolor: rgb(255, 255, 255) !important;
  --lwt-tab-line-color: rgb(37, 37, 37) !important;
  --chrome-content-separator-color: rgb(38, 38, 38) !important;
  --toolbarbutton-hover-background: rgb(39, 39, 40) !important;
  --toolbarbutton-active-background: rgb(38, 38, 38) !important;
  --sidebar-background-color: rgb(21, 21, 21) !important;
  --sidebar-text-color: rgb(255, 255, 255) !important;
  --sidebar-border-color: rgb(33, 33, 33);
  }
}
.tab-background {
  &:is([selected], [multiselected]) {
    background-color: rgb(49, 49, 49) !important;
    box-shadow: 0px 0px 0px rgb(23,23,23) !important;
    outline-color: rgba(37, 37, 37, 0) !important;
  }
}

.browser-toolbar{
  background-color: #0d0d0d !important;
}
#nav-bar {
  :root[sessionrestored][lwtheme] & {
    transition: var(--ext-theme-background-transition);
    background: rgb(23, 23, 23) !important;
  }
}
.toolbarbutton-animatable-box, .toolbarbutton-1 {
  color: inherit;
  -moz-context-properties: fill, fill-opacity;
  fill: white !important;
}
.urlbar-background, #searchbar {
  background-color: rgb(53, 53, 53) !important;
  background-clip: border-box;
  border: 1px solid transparent !important;
  border-radius: var(--toolbarbutton-border-radius);
}

.urlbar:is([focused], [open]) > .urlbar-background, #searchbar:focus-within {
  background-color: #353535 !important;
}
.urlbarView-body-inner {
  #urlbar[open] > .urlbarView > .urlbarView-body-outer > & {
    border-top: 1px #ffffff0a solid !important;
  }
}
[open] > .urlbar-background {
  border-color: transparent !important;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.13);
}
.urlbarView-row-inner {
  &:not([type="tip"], [type="dynamic"]) {
    :root:not([uidensity="compact"]) & {
      min-height: 32px;
      margin-top: 0px ;
    }
  }
}
menuitem,menu{
  background: rgba(255, 255, 255, 0) !important;
  border-radius: 50px !important;
}
menuitem:hover,menu:hover{
  background: rgba(255, 255, 255, 0.116) !important;
}
.menupopup-arrowscrollbox{
  outline: none !important;
  border-radius: 15px !important;
  border: none !important;
  font-size: 12px !important;
  background-color: rgb(49, 49, 49) !important;
}

.close-icon{
  fill: white !important;
}
.tab-text {
  color: white !important;
}
@keyframes yogurt-open-search{
  from{
    text-shadow: 0px 0px 2px aliceblue;
  }

  to{
    text-shadow: none;
  }
}
.browser-toolbox-background {
  position: relative;
  background-color: #0d0d0d !important;
  color: white !important;
  will-change: background-color;
  transition: background-color var(--inactive-window-transition);
  color-scheme: dark !important;
}
.tabbrowser-tab {
  background-color: transparent !important;
  overflow: clip;
}
.searchmode-switcher{
    background-color: rgb(53,53,53)  !important;
    
}
toolbar .toolbaritem-combined-buttons{
    background: rgb(53,53,53)    !important;
  height: fit-content   !important;
  vertical-align: middle   !important;
  align-self: center   !important;
  border-radius: 50px   !important;
}
*{
    font-family: SF Pro,inter,sans-serif !important;

}
button{
cursor: pointer !important;
    border-radius: 67px !important;
}
[breakout][breakout-extend] > .urlbar-background {
  @media (prefers-reduced-motion: no-preference) {
    [breakout-extend-animate] > & {
      border-radius: 20px !important;
    }
  }
}
toolbar .toolbarbutton-1 {
  & > .toolbarbutton-icon {
cursor: pointer !important;
    border-radius: 50px !important;  
}}

.toolbarbutton-1[command="cmd_newNavigatorTab"]:hover{
    transform: rotate(90deg);
    transition: 0.2s ;
}

.toolbarbutton-1[command="cmd_newNavigatorTab"]:active{
    transform: rotate(90deg) scale(0.9); 

}
.toolbarbutton-1[command="cmd_newNavigatorTab"]{
    transition: 0.2s;
}
.titlebar-close,.titlebar-restore,.titlebar-min,.titlebar-max{
  background: aliceblue !important;
  border-radius: 0px !important;
  width: 100% !important;
  height: 100% !important;
  content: '' !important;
  align-self: center !important;
  background-color: rgba(255, 130, 130, 0) !important;
  --animation-easing-function: ;
  overflow: hidden !important;  
  object-fit: cover !important;
  transition: 0.2s;
  cursor: pointer;
  margin: 2px !important;
}
.tab-close-button,.close-icon{
    border-radius: 50px !important;
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.close-icon{
    animation: yogurt 0.3s forwards 1 ;
}
.tab-close-button:hover{
  transform: scale(1.1);
}
.tab-close-button:hover .close-icon{
 filter: blur(1px);
}

.titlebar-close::before,.titlebar-restore::before,.titlebar-min::before,.titlebar-max::before{
  background: aliceblue !important;
  border-radius: 50px !important;
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 10px !important;
  height: 10px !important;
  content: '' !important;
  align-self: center !important;
  --animation-easing-function: ;
  overflow: hidden !important;  
  object-fit: cover !important;
  padding: 5px !important;
  margin: 2px !important;
    position: absolute;
      border-radius: 50px;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.titlebar-close::before{
  background-color: rgb(255, 36, 36) !important;
}
.titlebar-restore::before,.titlebar-max::before{
  background-color: #34c848 !important;
}
.titlebar-min::before{
  background-color: #febb3f !important;
}
.titlebar-min:hover,.titlebar-close:hover,.titlebar-restore:hover,.titlebar-max:hover{
  filter: brightness(0.8);
  transform: scale(1.1);
}
.titlebar-min:active::before,.titlebar-close:active::before,.titlebar-restore:active::before,.titlebar-max:active::before{
  filter: brightness(0.7);
  transform: scale(0.8);
}
